{% extends 'mblog/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    &nbsp;&nbsp;<a href="{% url 'mblog:index' %}">Back to Homepage</a>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Log in</button>
        <input type="hidden" name="next" value="{% url 'mblog:index' %}">
    </form><br><br>

    <p>New to this site? &nbsp;&nbsp; <a href="{% url 'users:register' %}">Register !</a></p>

{% endblock %}